<!DOCTYPE html>
<html lang=en> 
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static "dev/index.css" %}" />
    <link rel="stylesheet" 
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js">
    </script>

    <!-- Include the jQuery Mobile library -->
    <script
      src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js">
    </script>

    <script src="{% static "dev/index.js" %}">
    </script>

  </head>
  <body>

    {% block page %}
    <div data-role="page" id="map-page">
      <div data-role="main" class="ui-content">
        <div id="map">
        </div>
      </div>
    </div>
    {% endblock %}

  </body>
</html>