{% extends "dev/map-base.html" %}

{% block page %}

<div data-role="page" id="map-page">
  <div data-role="header">
    <a href="/dev/main/" data-icon="back" data-role="button">Back</a>
    <h1>Map</h1>
    <a href="/dev/logout" data-icon="delete" data-role="button">Logout</a>
  </div>

  <div data-role="main" class="ui-content">
    <div id="map">
    </div>
  </div>

  <div data-role="footer" class="ui-content">
    HUNTED - THE APP
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1qMok8F_PLnJ8Wy_Vp0cXdARIA0udiq4&callback=initMap">
  </script>
</div>

{% endblock %}